<!DOCTYPE html>
<head>
	<title>Product Catalogue</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class ="nav-bar" ></div>
	<div id = "app">
		<div class="product">
			<div class="product-image">
				<img v-bind:src="image">
			</div>
			<div class="product-info">
				<h1> {{title}} </h1>
				<p v-if="inStock == 12"> In stock </p>
				<p v-else-if="inStock < 12 && inStock > 0"> Few lucky pieces remaining </p>
				<p v-else> Sold out </p>
				<ul>
					<div v-for="(sock, index) in sockColor" 
					class="color-box"
					:style="{backgroundColor: sock.colour}"
					@mouseover="updateImage(index)">{{sock.sockValue}}
				</div>
			</ul>
			<button v-on:click="incrementCart" 
			:disabled="cartToggler" 
			:class="{disabledButton: cartToggler}">Add to cart</button>
			<div class="cartVal">Cart {{cart}}</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src = "main.js"></script>

</body>
</html>