body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
  
  .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
  }

  .product{
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }
  
  .product-image {
    width: 50%;
    height: 40%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  .color-box {
    width: 180px;
    height: 30px;
    margin-top: 5px;
    padding: 20px;
  }

.cart
{
	width: 88px;
	height:80px;
	border: solid black 1px;
	border-radius: 5px;
	display: inline
}

button
{
	background-color: #abcfff;
}

.disabledButton
{
	color: #eeeeff;
}
